.inline-form{
    display: flex;
    gap: 32px;
}

.inline-form input[type="submit"]{
    min-width: 128px;
    max-width: 256px;
}

header{
    margin-bottom: 64px;
}

article{
    padding: 32px;
}

section, footer{
    margin-top: 128px;
}

footer{
    padding-top: 64px;
    padding-bottom: 64px;
}


